:root {
	--color-white: #fff;
	--color-white-bg: rgb(235, 235, 235);
	--color-navy: rgb(52, 82, 253);
}

/* CSS RESET */
html {
	font-size: 62.5%;
	font-family: sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 3rem 6rem 2rem;
}

*:focus {
	outline: none;
}

.app {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
